<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authenticate</title>
</head>
<body>
<h1>FTP Tool</h1>
<h3>Authentication</h3>


<form  action="#" th:action="@{/auth}" th:object="${auth}"
       method="post">

    <input type="text" th:field="*{userName}" placeholder="Username">
    <p th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" /><br>

    <input type="password" th:field="*{passWord}" placeholder="Password">
    <p th:if="${#fields.hasErrors('passWord')}" th:errors="*{passWord}" /><br>

    <input type="text" th:field="*{vaultDNS}" placeholder="Vault DNS">
    <p th:if="${#fields.hasErrors('vaultDNS')}" th:errors="*{vaultDNS}" /><br>

    <button type="submit">Authenticate</button>

</form>



</body>
</html>