<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create FTP Page</title>
</head>
<body>
<span th:if="${errorMessage}"  th:text="${errorMessage}">Error</span>
<form  action="#" th:action="@{/createftpproc}" th:object="${createFTP}"
       method="POST">

    <input type="text" th:field="*{inputPath}" placeholder="File to Upload"><br>

    <input type="text" th:field="*{ftpPath}" placeholder="FTP File Path">

    <button type="submit">Create</button>

</form>
</body>
</html>