<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Successful Directory Listing</title>
    <meta name="theme-color" content="#712cf9">
    <style>

      .form-signin {
          max-width: 330px;
          padding: 15px;
        }

        .form-signin .form-floating:focus-within {
          z-index: 2;
        }

        .form-signin input[type="text"] {
          margin-bottom: -1px;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
          margin-bottom: 10px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }

      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }



    </style>

    <link href="css/heroes.css" rel="stylesheet">
</head>
<body class="text-center">


<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="images/veev.webp" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold">File Staging Items</h1>
    <h3>Current Path: </h3> <h3 id="element"> <span th:text="${val}"></span></h3>


    <!-- Modal -->
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal" onclick="passVal()">
            Create Item
        </button>
        <div class="btn-group">
            <button type="button" class="btn btn-outline-warning">Bulk Options</button>
            <button type="button" class="btn btn-outline-warning dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
<!--                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#updatelistModal" onclick="addUpdatelist()">Bulk Update</a></li>-->
                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deletelistModal" onclick="addlist()">Bulk Delete</a></li>
            </ul>
        </div>
    </div>


    <p>  </p>
    <script>

            let input = document.getElementById("element").children;

            if (input[0].innerText.length == 0){
                input[0].innerText = "/";
            }

            function passVal(){
                if (input[0].innerText.length == 0 || input[0].innerText.length == 1){
                    document.getElementById("ftppath").value = input[0].innerText + "{filename}";
                }
                else {
                    document.getElementById("ftppath").value = input[0].innerText + "/{filename}";

                }

            }
    </script>

    <div class="modal fade" id="deletelistModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirm Bulk Delete</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div>
                    <table id="deletetable" class="table table-hover">
                        <tr>
                            <th>PATH</th>
                        </tr>
                    </table>

                </div>
                <button class="btn btn-danger" type="submit" onclick="bulkDelete()">Delete</button>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="updatelistModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updatModalLabel">Confirm Bulk Update</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div>
                    <table id="updatetable" class="table table-hover">
                        <tr>
                            <th>PATH</th>
                        </tr>
                    </table>
                    <div class="form-floating">
                        <input type="text" placeholder="Parent Directory"  class="form-control" id="parentdir">
                        <label for="dir">Parent Directory</label>
                    </div>


                </div>
<!--                <button class="btn btn-danger" type="submit" onclick="bulkDelete()">Delete</button>-->
                <button class="w-100 btn btn-lg btn-primary" onclick="bulkUpdate()" type="submit">Update</button>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="listModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="listModalLabel">List</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <main class="form-signin w-100 m-auto">
                        <form  action="#" th:action="@{/listftpproc}" th:object="${listFTP}"
                               method="post">
                            <img class="mb-4" src="images/veev.webp" alt="" width="72" height="57">
                            <h1 class="h3 mb-3 fw-normal">List File or Folder</h1>
                            <span th:if="${errorMessage}"  th:text="${errorMessage}">Error</span>

                            <div class="form-floating">
                                <input type="text" th:field="*{itemPath}" placeholder="File Staging Server File Path"  class="form-control" id="ftp_path">
                                <label for="ftp_path">File Staging Server File Path</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="flexCheck" th:field="*{recursive}" checked>
                                <label class="form-check-label" for="flexCheck">
                                    Recursive Directory Listing
                                </label>
                            </div>

                            <div>
                                <button class="w-100 btn btn-lg btn-primary" type="submit">List</button>
                            </div>

                        </form>
                    </main>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">Create</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <main class="form-signin w-100 m-auto">
                        <form  th:action="@{/createftpproc}" th:object="${createFTP}"
                               method="post" enctype="multipart/form-data">
                            <img class="mb-4" src="images/veev.webp" alt="" width="72" height="57">
                            <h1 class="h3 mb-3 fw-normal">Create File or Folder</h1>
                            <span th:if="${errorMessage}"  th:text="${errorMessage}">Error</span>
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="inputGroupSelect01">Kind</label>
                                <select th:field="*{kind}" class="form-select" id="inputGroupSelect01" onchange="inputChange(this)">
                                    <option value="" selected>Please select kind: </option>
                                    <option id="file" value="File">File</option>
                                    <option value="Folder">Folder</option>
                                </select>
                            </div>
                            <script type="text/javascript">
                                function inputChange(that) {
                                if (document.getElementById("file").selected) {
                                    document.getElementById("localpath").style.display = "block";
                                } else {
                                    document.getElementById("localpath").style.display = "none";
                                }
                                }
                            </script>
                            <div class="form-floating">
                                <input id="localpath" style="display: none;" type="text" th:field="*{inputPath}" placeholder="Local File Path" class="form-control">
                                <label for="localpath">Local File Path</label>
                            </div>

                            <div class="form-floating">
                                <input type="text" th:field="*{ftpPath}" placeholder="File Staging Server File Path"   class="form-control" id="ftppath" required>
                                <label for="ftppath">File Staging Server File Path</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="flexCheckCheck" th:field="*{overwrite}" checked>
                                <label class="form-check-label" for="flexCheckCheck">
                                    Overwrite
                                </label>
                            </div>

                            <div>
                                <button class="w-100 btn btn-lg btn-primary" type="submit">Create</button>
                            </div>


                        </form>
                    </main>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="UpdateModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateModalLabel">Update</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <main class="form-signin w-100 m-auto">
                        <form  action="#" th:action="@{/updateitemproc}" th:object="${item}"
                               method="post">
                            <img class="mb-4" src="images/veev.webp" alt="" width="72" height="57">
                            <h1 class="h3 mb-3 fw-normal">Update File or Folder</h1>
                            <span th:if="${errorMessage}"  th:text="${errorMessage}">Error</span>

                            <div class="form-floating">
                                <input id="path" type="text" th:field="*{path}" placeholder="File Staging Server File Path" class="form-control" required>
                                <label for="path">File Staging Server File Path</label>
                            </div>
                            <div class="form-floating">
                                <input type="text" th:field="*{newParent}" placeholder="Parent Directory"  class="form-control" id="dir">
                                <label for="dir">Parent Directory</label>
                            </div>
<!--                            <div class="input-group mb-3">-->
<!--                                <label class="input-group-text" for="inputGroupSelect02">Parent Directory</label>-->
<!--                                <select th:field="*{newParent}" class="form-select" id="inputGroupSelect02">-->
<!--                                    <option th:each="dir : ${directoryList}"-->
<!--                                            th:value="${dir}"-->
<!--                                            th:text="${dir}">Directory Path</option>-->
<!--                                </select>-->
<!--                            </div>-->
                            <div class="form-floating">
                                <input type="text" th:field="*{newName}" placeholder="Filename"  class="form-control" id="filename">
                                <label for="filename">Filename</label>
                            </div>

                            <div>
                                <button class="w-100 btn btn-lg btn-primary" type="submit">Update</button>
                            </div>


                        </form>
                    </main>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="DeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <main class="form-signin w-100 m-auto">
                        <form  action="#" th:action="@{/deleteftpproc}" th:object="${deleteFTP}"
                               method="post">
                            <img class="mb-4" src="images/veev.webp" alt="" width="72" height="57">
                            <h1 class="h3 mb-3 fw-normal">Delete File or Folder</h1>
                            <span th:if="${errorMessage}"  th:text="${errorMessage}">Error</span>

                            <div class="form-floating">
                                <input type="text" th:field="*{ftpPath}" placeholder="File Staging Server File Path"  class="form-control" id="deleteftppath" required>
                                <label for="deleteftppath">File Staging Server File Path</label>
                            </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="flexCheckChecked" th:field="*{recursive}" checked>
                                        <label class="form-check-label" for="flexCheckChecked">
                                            Recursive Deletion
                                        </label>
                                    </div>
                            <div>
                                <button class="btn btn-danger" type="submit">Delete</button>
                            </div>

                        </form>
                    </main>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <form id="deleteform" action="#" th:action="@{/delete}" th:object="${deleteFTP}"
           method="post" hidden>

        <div>
            <input type="text" th:field="*{ftpPath}" class="form-control" id="deletepath" required>
        </div>
        <div>
            <input class="form-check-input" type="checkbox" id="checkRec" th:field="*{recursive}" checked>
        </div>

    </form>

    <form id="updateform"  action="#" th:action="@{/update}" th:object="${item}"
           method="post" hidden>
        <div>
            <input id="fpath" type="text" th:field="*{path}">
        </div>
        <div>
            <input type="text" th:field="*{newParent}" placeholder="Parent Directory" id="parent">
        </div>

    </form>

    <div class="col-lg-6 mx-auto">

        <table id="checktable" class="table table-hover">
            <tr>
                <th><input id="master_check" class="form-check-input mt-0" type="checkbox" aria-label="Checkbox for following text input">
                </th>
                <th>NAME</th>
                <th>KIND</th>
                <th>PATH</th>
                <th>SIZE</th>
            </tr>
            <tr th:each="item : ${response}" th:class="${itemStat.index}">
                <td id="first">
                    <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                </td>
                <td th:text="${item.getName()}">Name</td>
                <td th:text="${item.getKind()}">Kind</td>
                <td>
                    <a href="#" th:text="${item.getPath()}" onclick="passList(this)" data-bs-toggle="modal" data-bs-target="#listModal"></a>
                </td>
                <td th:text="${item.getSize()}">Size</td>
<!--                <td>-->
<!--                    <a th:href="@{/deleteftp}">-->
<!--                        <label>Delete</label>-->
<!--                    </a>-->
<!--                </td>-->
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-primary">Actions</button>
                        <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" onclick="passPath(this)" data-bs-toggle="modal" data-bs-target="#createModal">Create File</a></li>
                            <li><a class="dropdown-item" onclick="passPath(this)" data-bs-toggle="modal" data-bs-target="#updateModal">Update</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="btn btn-danger" onclick="passPath(this)"  data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</a></li>
                        </ul>
                    </div>
                </td>


            </tr>
        </table>
        <script>

            let listtable = document.getElementById("checktable");



            let rows = listtable.rows;

            let deleteArray = [];

            let updateArray = [];

            let check = document.getElementById("master_check");

            check.addEventListener('change', (event) => {
            if (check.checked){
                let next = check.parentElement.parentElement.nextElementSibling;
                while (next != null){
                    next.children[0].children[0].checked = true;
                    next = next.nextElementSibling;
                }
            }
            });

            function addUpdatelist(){
                updateArray = [];

                updatetable = document.getElementById("updatetable");
                if (updatetable.rows.length > 1){
                    let l = updatetable.rows.length;
                    for (var d = 1; d < l; d++){
                        updatetable.deleteRow(-1);
                    }
                }

                for (var r = 1; r < rows.length; r++){
                    if (rows[r].children[0].children[0].checked){
                        updateArray.push(rows[r].children[3].children[0].innerText);
                    }
                }

                updateArray.forEach( element =>
                    updatetable.insertRow(-1).insertCell(-1).innerText = element

                );
            }

            function addlist(){
                deleteArray = [];

                deletetable = document.getElementById("deletetable");
                if (deletetable.rows.length > 1){
                    let l = deletetable.rows.length;
                    for (var d = 1; d < l; d++){
                        deletetable.deleteRow(-1);
                    }
                }

                for (var r = 1; r < rows.length; r++){
                    if (rows[r].children[0].children[0].checked){
                        deleteArray.push(rows[r].children[3].children[0].innerText);
                    }
                }


                deleteArray.forEach( element =>
                    deletetable.insertRow(-1).insertCell(-1).innerText = element

                );

            }

            function bulkUpdate(){
                let updateform = document.getElementById("updateform");

                document.getElementById("fpath").value = updateArray.join();
                document.getElementById("parent").value = document.getElementById("parentdir").value

                updateform.submit();

            }


            function bulkDelete(){
                let deleteform = document.getElementById("deleteform");

                document.getElementById("deletepath").value = deleteArray.join();

                deleteform.submit();

            }



            function passPath(that){
                let val = that.parentElement.parentElement.parentElement.parentElement.previousElementSibling.previousElementSibling;
                if (that.innerText == "Delete"){
                    let input = document.getElementById("deleteftppath");
                    input.value = val.innerText;
                } else if (that.innerText == "Update"){
                    let input = document.getElementById("path");
                    input.value = val.innerText;
                } else if (that.innerText == "Create File"){
                    if (val.previousElementSibling.innerText == "folder"){
                        let input = document.getElementById("ftppath");
                        input.value = val.innerText + "/{filename}";

                    } else {
                        let input = document.getElementById("ftppath");
                        input.value = val.innerText
                        document.getElementById("flexCheckCheck").checked = true;
                    }
                }


            }



            function passList(that){
                document.getElementById("ftp_path").value = that.innerText;
            }
        </script>


        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a class="btn btn-primary" th:href="@{/ftpoptions}">File Staging APIs</a>
            <a class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#listModal">List Other</a>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>

</body>
</html>